/* ESSAY Plugin styles.
 * THese can be overridden from within any theme by creating
 * a file called cc_essays.css there.
 *
 * A note about conventions.
 * We will assume that icons will be assigned based on the
 * AVAILABILITY taxonomy term slug.
 *
 * You should generate your icon images as such, e.g.
 * availability-online.png
 * availability-print.png
 * etc.
 *
 ***/
 
 article.type-post:before,
 .type-essay:before {
	 box-sizing: border-box;
 	width: 70px;
	height: 37px;
	position: absolute;
	left: -70px;
	margin-top: 6px;
	text-align: center;
	line-height: 37px;
	font: normal normal normal 14px/1 FontAwesome;
	color: #000;
	font-size: 37px;
	display: block;
	padding: 0;
 }
 article.type-post:before {
/*	 content: "\f0e6";*/
 }
 .cc_essay_print:before {
	 content: "";
 }
 .cc_essay_online:before {
 	content: "";
 }
 
 .type-essay time {
 	display: none !important;
 }
 .type-essay .meta-info {
 	margin-bottom: 0.5em;
 }