{%- assign books = site.posts | where: 'layout', 'book' | sort: 'title' -%}

<div class="master-header">
  <ul id="master-menu" class="menu">
    <li class="menu-item"><a href="{{ site.url | relative_url }}">Home</a></li>
    <li class="menu-item menu-item-has-children"><a href="#">Books</a>
      <ul class="sub-menu">
        {% for book in books %}
          <li class="menu-item"><a href="{{ book.url | relative_url }}">{{ book.title }}</a></li>
        {% endfor %}
      </ul>
    </li>

    <li class="icon-search menu-item"><a href="#"><span>Search</span></a></li>
  </ul>

  <div id="logo">
    <a href="{{ site.url | relative_url }}" title="{{ site.title }}">{{ site.title }}</a>
  </div>

  <div id="searchoverlay"></div>
  <div id="searchoverlay2"></div>
  <div id="search">
    <form role='search' method="get" id="searchform" action="{{ site.search.url | relative_url }}" data-controller="search">
      <label class="screen-reader-text" for="s">Search for:</label>
      <input type="text" class="search_input" value="" name="s" id="s" placeholder="Search..." aria-label="Search" data-search-target="q" />
      <button data-action="search#toggle" class="toggle-searchsites" value="toggle sites">Individual book or all books</button>
      <input type="submit" id="searchsubmit" value="GO" />

      <ul class="searchsites" data-search-target="toggle">
        <li>
          <input type="checkbox" id="searchlimit" name="searchlimit" data-action="search#all" data-name="cc_gs_sites[]" checked />
          <label for="searchlimit">All books</label>
        </li>

        {% for book in books %}
          <li>
            <input data-action="search#some" data-name="searchlimit" type="checkbox" name="cc_gs_sites[]" id="searchsites-{{ book.slug }}" value="{{ book.slug }}" checked />
            <label for="searchsites-{{ book.slug }}">Keywords for {{ book.title }}</label>
          </li>
        {% endfor %}
      </ul>

      <ul class="searchlimits">
        <li>
          <input type="radio" name="post_type" id="searchlimits-all" value="all" checked />
          <label for="searchlimits-all">Everything</label>
        </li>
        <li>
          <input type="radio" name="post_type" id="searchlimits-essays" value="essay" />
          <label for="searchlimits-essays">Essays</label>
        </li>
      </ul>
    </form>
  </div>
</div>
