<div id="subhead">
         <div id="breadcrumbs"><a href="../../index.html">Home</a>Author: {{ page.title }}</div>
         <ul id="share-links">
           <li><a class="addthis_button_facebook" aria-label="Share this page on Facebook"><i class="fa fa-facebook"></i></a></li>
           <li><a class="addthis_button_twitter" aria-label="Share this page on Twitter"><i class="fa fa-twitter"></i></a></li>
           <li><a href="https://plus.google.com/share?url=keywords.nyupress.org/african-american-studies/" target="_blank" aria-label="Share this page on Google Plus"><i class="fa fa-google-plus"></i></a></li>
           <li><a class="addthis_button_email" aria-label="Email this page"><i class="fa fa-envelope-o"></i></a></li>
         </ul>
         <ul id="page-actions">
                 <li><a class="action-print" href="javascript:print()" aria-label="Print"><i class="fa fa-print"></i></a></li>
         </ul>
</div>
