{% assign book = include.book %}
{% assign page = include.page %}
{% assign url = page.url | absolute_url | uri_escape %}
{% assign main = 'book,home,feature' | split: ',' %}

<div id="subhead">
  {% if page.layout == 'search' %}
    <div id="results-count" data-search-target="count"></div>
  {% endif %}

  {% if page.layout == 'home' %}
  {% elsif page.layout == 'book' %}
  {% else %}
    <div id="breadcrumbs">
      <a href="{{ book.url | default: site.url | relative_url }}">Home</a>
      {%- if page.layout == 'essay' -%}
        <a href="#">Essays</a>
      {%- endif -%}

      {%- if page.layout == 'search' %}
        <a href="{{ site.search.url }}">{{ page.title }}</a>
        <span class="active" data-search-target="breadcrumb"></span>
      {%- else -%}
        <span class="active">{{ page.title }}</span>
      {%- endif -%}
    </div>
  {% endif %}

  <ul id="share-links">
    <li>
      <a
        href="https://www.facebook.com/sharer/sharer.php?u={{ url }}"
        rel="noopener noreferrer"
        target="_blank"
        aria-label="Share this page on Facebook">
        <i class="fa fa-facebook"{% if main contains page.layout %} style="color: #bdbdbd"{% endif %}></i>
      </a>
    </li>

    <li>
      <a
        href="https://twitter.com/intent/tweet?url={{ url }}"
        rel="noopener noreferrer"
        target="_blank"
        aria-label="Share this page on Twitter">
        <i class="fa fa-twitter"{% if main contains page.layout %} style="color: #bdbdbd"{% endif %}></i>
      </a>
    </li>

    <li>
      <a
        href="https://plus.google.com/share?url={{ url }}"
        rel="noopener noreferrer"
        target="_blank"
        aria-label="Share this page on Google Plus">
        <i class="fa fa-google-plus"{% if main contains page.layout %} style="color: #bdbdbd"{% endif %}></i>
      </a>
    </li>

    <li>
      <a aria-label="Email this page" href="mailto:?subject={{ page.title | uri_escape }}&amp;body={{ url }} "><i class="fa fa-envelope-o"{% if main contains page.layout %} style="color: #bdbdbd"{% endif %}></i></a>
    </li>
  </ul>

  <ul id="page-actions">
    {% if page.layout == 'essay' %}
      <li>
        <a aria-label="Cite this essay" class="action-cite" href="#">
          <i class="fa fa-file-text-o"></i>
        </a>
      </li>
    {% endif %}

    <li>
      <a class="action-print" href="javascript:print()" aria-label="Print" >
        <i class="fa fa-print"></i>
      </a>
    </li>
  </ul>
</div>
