{% assign book = include.book %}
{% assign page = include.page %}
{% assign url = page.url | absolute_url | uri_escape %}

<div id="subhead">
  {% if page.layout == 'home' %}
  {% elsif page.layout == 'book' %}
  {% else %}
    <div id="breadcrumbs">
      <a href="{{ book.url | default: site.url }}">Home</a>
      {%- if page.layout == 'essay' -%}
        <a href="#todo">Essays</a>
      {%- endif -%}
      <span class="active">{{ page.title }}</span>
    </div>
  {% endif %}

  <ul id="share-links">
    <li>
      <a
        href="https://www.facebook.com/sharer/sharer.php?u={{ url }}"
        rel="noopener noreferrer"
        target="_blank"
        aria-label="Share this page on Facebook">
        <i class="fa fa-facebook"></i>
      </a>
    </li>

    <li>
      <a
        href="https://twitter.com/intent/tweet?url={{ url }}"
        rel="noopener noreferrer"
        target="_blank"
        aria-label="Share this page on Twitter">
        <i class="fa fa-twitter"></i>
      </a>
    </li>

    <li>
      <a
        href="https://plus.google.com/share?url={{ url }}"
        rel="noopener noreferrer"
        target="_blank"
        aria-label="Share this page on Google Plus">
        <i class="fa fa-google-plus"></i>
      </a>
    </li>

    <li>
      <a aria-label="Email this page" href="mailto:?subject={{ page.title | uri_escape }}&amp;body={{ url }} "><i class="fa fa-envelope-o"></i></a>
    </li>
  </ul>

  <ul id="page-actions">
    {% if page.layout == 'essay' %}
      <li>
        <a aria-label="Cite this essay" class="action-cite" href="#">
          <i class="fa fa-file-text-o"></i>
        </a>
      </li>
    {% endif %}

    <li>
      <a class="action-print" href="javascript:print()" aria-label="Print" >
        <i class="fa fa-print"></i>
      </a>
    </li>
  </ul>
</div>
