{% assign book = include.book %}

<div class="subsite-header" style="background-color: {{ book.color }}">
  <ul id="main-menu" class="menu">
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item current_page_item"><a href="#">Essays</a></li>

    {% comment %}
    When there's no buy link, the Essays menu opens and closes automatically.
    {% endcomment %}
    {% if book.link %}
      <li class="icon-cart menu-item menu-item-type-custom menu-item-object-custom">
        <a href="{{ book.link }}"><span> Buy </span></a>
      </li>
    {% endif %}

    {% comment %}
    Since the menu JS depends on item order, we can't remove this
    without breaking the menu.
    {% endcomment %}
    <li class="arrow-right menu-item menu-item-type-post_type menu-item-object-page">
      {% if book.courses and book.courses != empty %}
        <a href="#">Courses</a>
      {% endif %}
    </li>
  </ul>

  <div id="sublogo">
    <a href="{{ book.url }}" title="{{ book.title }}">for {{ book.title }}</a>
  </div>
</div>
