{% assign book = include.book %}
{% assign all_essays = book.essays | where: 'availability', 'All Essays' %}
{% assign web_essays = book.essays | where: 'availability', 'Web Essays' %}
{% assign print_essays = book.essays | where: 'availability', 'Print Essays' %}
{% assign keywords_now = book.essays | where: 'availability', 'Keywords Now' %}

<nav id="access" style="background-color: {{ page.color }}">
  <div class="skip-link screen-reader-text"><a href="#content" title="Skip to content">Skip to content</a></div>

  <ul id="menu-left-flyout-nav" class="menu-left">
    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-home current-menu-item page_item current_page_item"><a href="{{ book.url }}">Home</a></li>

    {% if book.introduction %}
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ book.introduction.url }}">{{ book.introduction.title }}</a></li>
    {% endif %}

    {% unless all_essays == empty %}
      <li class="menu-item menu-item-type-taxonomy menu-item-object-availability menu-item-has-children">
        <a href="#todo">All Essays</a>

        <ul class="sub-menu">
          {% for essay in all_essays %}
            <li>
              <a href="{{ essay.url }}">
                {{ essay.title }}, <span>{% include people.html people=essay.authors plain=true %}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endunless %}

    {% unless web_essays == empty %}
      <li class="menu-item menu-item-type-taxonomy menu-item-object-availability menu-item-has-children">
        <a href="#todo">Web Essays</a>

        <ul class="sub-menu">
          {% for essay in web_essays %}
            <li>
              <a href="{{ essay.url }}">
                {{ essay.title }}, <span>{% include people.html people=essay.authors plain=true %}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endunless %}

    {% unless print_essays == empty %}
      <li class="menu-item menu-item-type-taxonomy menu-item-object-availability menu-item-has-children">
        <a href="#todo">Print Essays</a>

        <ul class="sub-menu">
          {% for essay in print_essays %}
            <li>
              <a href="{{ essay.url }}">
                {{ essay.title }}, <span>{% include people.html people=essay.authors plain=true %}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endunless %}

    <li class="menu-item menu-item-type-custom menu-item-object-custom"><a href="{{ book.works_cited.url }}">{{ book.works_cited.title }}</a></li>
    <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ book.contributors.url }}">{{ book.contributors.title }}</a></li>

    {% if book.acknowledgements %}
      <li class="menu-item menu-item-type-post_type menu-item-object-page"><a href="{{ book.acknowledgements.url }}">{{ book.acknowledgements.title }}</a></li>
    {% endif %}

    {% unless keywords_now == empty %}
      <li class="menu-item menu-item-type-taxonomy menu-item-object-availability menu-item-has-children">
        <a href="#todo">Keywords Now</a>

        <ul class="sub-menu">
          {% for essay in keywords_now %}
            <li>
              <a href="{{ essay.url }}">
                {{ essay.title }}, <span>{% include people.html people=essay.authors plain=true %}</span>
              </a>
            </li>
          {% endfor %}
        </ul>
      </li>
    {% endunless %}
  </ul>
</nav>

<nav id="secondary-access" style="background-color: {{ book.color }}">
  {% if book.courses and book.courses != empty %}
    <ul id="menu-right-flyout-nav" class="menu-right">
      <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children">
        In the Classroom

        <ul class="sub-menu">
          {% for course in book.courses %}
            <li class="menu-item menu-item-type-post_type menu-item-object-page">
              <a href="{{ course.url }}">{{ course.title }}</a>
            </li>
          {% endfor %}
        </ul>
      </li>
    </ul>
  {% endif %}
</nav>
