{%- assign books = site.posts | where: 'layout', 'book' -%}
{% for book in books %}
  <article class="selfclearing site-list">
    <a href="{{ book.url }}">
      <img src="{{ book.image }}" alt="Image for Keywords for {{ book.title }}" />
    </a>
    <div class="site-details">
      <h1><a href="{{ book.url }}" style="color: {{ book.color }}">Keywords for {{ book.title }}</a></h1>
      <span>Edited by
        {% for editors in book.editors %}
          <a href="{{ editors.permalink }}" style="color: {{ book.color }}">{{ editors.title }}</a>{% unless forloop.last %}, {% endunless %}
        {% endfor %}
      </span>
      {% if book.date %}<span>Date: {{ book.date | date: "%d/%m/%Y" }}</span>{% endif %}
    </div>
  </article>
{% endfor %}
