{% assign color = include.color %}

<style>
  .site .home h1,
  .site h1,
  .site .h1,
  .site #share-links ul li a,
  .site #share-links i,
  .site #page-actions a:hover:after,
  .site #results-count,
  .site #results-pagination,
  .site #respond input[type=submit]:hover,
  .site .navigation,
  .site .navigation a,
  .site .navigation a:hover,
  .site footer ul.menu a,
  article.site:before,
  #share-links a i,
  article.site h1,
  #page-actions a:hover:after,
  article.site a {
    color: {{ color }};
  }

  .site body,
  .site a.button,
  .site .button,
  .site header .subsite-header,
  .site #page-actions a,
  .site nav,
  .site #comments,
  .site #cite-box,
  .site #scroll-help a,
  article.site .highlighted-term {
    background: {{ color }};
  }

  header .subsite-header {
    background-color: {{ color }};
  }

  #access,
  #secondary-access,
  nav,
  #page-actions a,
  #scroll-help a {
    background: {{ color }};
  }
</style>
