{%- comment -%}
  This is a shortcut variable to access translation strings.  In Liquid
  every variable has a global scope so they're accesible throughout the
  templates.

  This requires the lang option to be set on _config.yml and a
  corresponding file on _data/
{%- endcomment -%}
{%- assign t = site.data[site.lang] -%}

{%- comment -%}
  Have the current book always available.
{%- endcomment -%}
{%- assign current_book = page.book -%}
{%- if page.layout == 'book' -%}
  {%- assign current_book = page -%}
{%- elsif page.layout == 'feature' -%}
  {%- assign current_book = page -%}
{%- endif -%}

{%- comment -%}
  Styles and other variables scoped to the book
{%- endcomment -%}
{%- assign current_color = current_book.slug | default: 'site' -%}
{%- assign content_color = current_color | prepend: 'content-' -%}
{%- assign current_site_modifier = t[current_book.layout].modifier_included_in_site_title -%}
{%- assign current_page_modifier = t[current_book.layout].modifier_included_in_page_title -%}
{%- assign current_series = site.title | append: ' ' | append: current_modifier -%}
{%- assign current_title = current_book.title | prepend: ' ' | prepend: current_series -%}
