{%- include global_variables.html -%}

<div class="w-100">
  <div class="container-fluid">
    <nav class="navbar navbar-dark navbar-expand-lg background-gray-dark row row-cols-1 row-cols-lg-3">
      <button class="navbar-toggler" type="button" aria-label="{{ t.navbar.label }}">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="order-lg-1 col collapse navbar-collapse">
        <div class="navbar-nav d-flex align-items-center">
          <div class="nav-item w-100 w-lg-auto">
            <a class="nav-link text-uppercase font-weight-bold" href="{{ '/' | relative_url }}">
              {{ t.navbar.home }}
            </a>
          </div>

          {% comment %}
            Generate dropdown menus recursively
          {% endcomment %}
          {% for layout in site.book_layouts -%}
            {% assign posts = site.posts | where: 'layout', layout %}
            {% if posts == empty %}{% continue %}{% endif %}
            <div class="nav-item w-100 w-lg-auto">
              <div class="nav-link dropdown">
                <button
                  class="dropdown-toggle border-0 background-gray-dark white text-uppercase font-weight-bold"
                  type="button"
                  id="dropdown-{{ layout }}"
                  data-toggle="dropdown"
                  aria-haspopup="true"
                  aria-expanded="false">
                  {{ t.navbar[layout] }}
                </button>

                <div class="dropdown-menu background-gray-dark" aria-labeledby="dropdown-{{ layout }}">
                  {% for post in posts %}
                    <a class="dropdown-item font-weight-bold white" href="{{ post.url | relative_url }}">{{ post.title }}</a>
                  {% endfor %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>

      <div class="order-first order-lg-2 col navbar-brand text-uppercase text-center">
        <span aria-hidden="true" class="h4 white">
          {{ site.title }}

          {% if current_book.layout == 'feature' %}
            {{ current_modifier }}
          {% endif %}
        </span>
      </div>

      <div class="order-lg-3 col text-right">
        <div class="nav-item">
          <div class="nav-link dropdown">
            <button
              class="border-0 background-gray-dark white text-uppercase font-weight-bold"
              type="button"
              id="dropdown-search"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false">
              {{ t.navbar.search }}
              <i class="fa fa-fw fa-search"></i>
            </button>

            <div class="dropdown-menu background-gray-dark" aria-labeledby="dropdown-search">

              <form
                role='search'
                method="get"
                action="{{ site.search.url | relative_url }}"
                data-controller="search"
                data-search-relative-url-value="{{ '/' | relative_url }}"
                data-search-template-value="{{ '/assets/templates/results.html' | relative_url }}"
                data-search-data-value="{{ '/data.json' | relative_url }}"
                data-search-index-value="{{ '/idx.json' | relative_url }}">

                <div class="form-group">
                  <label id="label-s" class="sr-only" for="s">{{ t.search.label }}</label>
                  <input
                      type="text"
                      class="form-control"
                      name="s"
                      id="s"
                      placeholder="{{ t.search.placeholder }}"
                      aria-labeledby="label-s"
                      data-search-target="q" />
                </div>

                <input type="submit" id="searchsubmit" value="{{ t.search.submit }}" />

                <div class="">
                  <details>
                  <summary>{{ t.search.select }}</summary>

                  <div class="toggled">
                    <ul class="list-unstyled" data-search-target="toggle">
                      <li>
                        <div class="custom-control custom-checkbox">
                          <input
                            class="custom-control-input"
                            type="checkbox"
                            id="searchlimit"
                            name="searchlimit"
                            data-action="search#all"
                            data-name="cc_gs_sites[]"
                            checked />
                          <label
                            class="custom-control-label"
                            for="searchlimit">
                            {{- t.search.all -}}
                          </label>
                        </div>
                      </li>

                      {% for layout in site.book_layouts -%}
                        {% assign posts = site.posts | where: 'layout', layout %}
                        {% if posts == empty %}{% continue %}{% endif %}

                        {% for post in posts %}
                          <li>
                            <div class="custom-control custom-checkbox">
                              <input
                                class="custom-control-input" 
                                data-action="search#some"
                                data-name="searchlimit"
                                type="checkbox"
                                name="cc_gs_sites[]"
                                id="searchsites-{{ post.slug }}"
                                value="{{ post.slug }}"
                                checked />
                              <label
                                class="custom-control-label"
                                for="searchsites-{{ post.slug }}">
                                {{- site.title }} {{ t[layout].modifier }} {{ post.title -}}
                              </label>
                            </div>
                          </li>
                        {% endfor %}
                      {% endfor %}
                    </ul>
                  </details>
                </div>

                <ul class="list-unstyled">
                  <li>
                    <div class="custom-control custom-checkbox">
                      <input
                        class="custom-control-input"
                        type="radio"
                        name="post_type"
                        id="searchlimits-all"
                        value="all"
                        checked />
                      <label
                        class="custom-control-label"
                        for="searchlimits-all">{{ t.search.everything }}</label>
                    </div>
                  </li>
                  <li>
                    <div class="custom-control custom-checkbox">
                      <input
                        class="custom-control-input"
                        type="radio"
                        name="post_type"
                        id="searchlimits-essays"
                        value="essay" />
                      <label class="custom-control-label" for="searchlimits-essays">{{ t.search.essays }}</label>
                    </div>
                  </li>
                </ul>
              </form>
            </div>
          </div>
        </div>
      </div>
    </nav>
  </div>
</div>
