<script type='text/javascript' src="{{ 'wp-includes/js/comment-reply.min8d9d.js?ver=4.9.16' | absolute_url }}"></script>
<script type='text/javascript' src="{{ 'wp-includes/js/wp-embed.min8d9d.js?ver=4.9.16' | absolute_url }}"></script>
</div>
<div id="clickoverlay2"></div>
<script>
if (Modernizr.touch) {

  /* cache dom references */
  var $body = jQuery('body');

  /* bind events */
  jQuery(document)
    .on('focus', 'input', function(e) {
      $body.addClass('fixfixed');
    })
    .on('blur', 'input', function(e) {
      $body.removeClass('fixfixed');
    });
  jQuery(document)
    .on('focus', 'textarea', function(e) {
      $body.addClass('fixfixed');
    })
    .on('blur', 'textarea', function(e) {
      $body.removeClass('fixfixed');
    });
}
</script>
