<div id="searchoverlay"></div>
<div id="searchoverlay2"></div>
<div id="search">
  <form role='search' method="get" id="searchform" action="https://keywords.nyupress.org/">
    <label class="screen-reader-text" for="s">Search for:</label>
    <input type="text" class="search_input" value="" name="s" id="s" placeholder="Search..." " aria-label=" Search" />
    <button class="toggle-searchsites" value="toggle sites">Individual book or all books</button>
    <input type="submit" id="searchsubmit" value="GO" />

    <ul class="searchsites">
      <li>
        <input type="checkbox" class="all" name="cc_gs_sites[]" value="1,2,4,5,9,10,11,12,13" checked />
        <label for="searchlimit">All books</label>
      </li>
      <li>
        <input type="checkbox" name="cc_gs_sites[]" id="searchsites2" value="2" />
        <label for="searchsites2">Keywords for American Cultural Studies</label>
      </li>
      <li>
        <input type="checkbox" name="cc_gs_sites[]" id="searchsites4" value="4" />
        <label for="searchsites4">Keywords for Asian American Studies</label>
      </li>
      <li>
        <input type="checkbox" name="cc_gs_sites[]" id="searchsites5" value="5" />
        <label for="searchsites5">Keywords for Disability Studies</label>
      </li>
      <li>
        <input type="checkbox" name="cc_gs_sites[]" id="searchsites9" value="9" />
        <label for="searchsites9">Keywords for Children&#039;s Literature</label>
      </li>
      <li>
        <input type="checkbox" name="cc_gs_sites[]" id="searchsites10" value="10" />
        <label for="searchsites10">Keywords for Environmental Studies</label>
      </li>
      <li>
        <input type="checkbox" name="cc_gs_sites[]" id="searchsites11" value="11" />
        <label for="searchsites11">Keywords for Media Studies</label>
      </li>
      <li>
        <input type="checkbox" name="cc_gs_sites[]" id="searchsites12" value="12" />
        <label for="searchsites12">Keywords for Latina/o Studies</label>
      </li>
      <li>
        <input type="checkbox" name="cc_gs_sites[]" id="searchsites13" value="13" />
        <label for="searchsites13">Keywords for African American Studies</label>
      </li>
    </ul>

    <ul class="searchlimits">
      <li>
        <input type="radio" name="post_type" id="searchlimits-all" value="all" checked />
        <label for="searchlimits-all">Everything</label>
      </li>
      <li>
        <input type="radio" name="post_type" id="searchlimits-essays" value="essay" />
        <label for="searchlimits-essays">Essays</label>
      </li>
      <li>
        <input type="radio" name="post_type" id="searchlimits-blogs" value="post" />
        <label for="searchlimits-blogs">Blog</label>
      </li>
    </ul>
  </form>
</div>
