<nav class="w-100 py-2 py-md-15px px-10px px-md-30px background-{{ include.current_book.slug }} container-fluid bd-titlebar z-index-zero top-70px top-md-34px">
  <div class="position-relative position-md-absolute w-100 left-0 order-first order-md-1 align-items-center d-flex justify-content-center h-100 top-0">
    <a class="text-decoration-none" href="{{ include.current_book.url }}">
      <h1 class="f-12px f-md-18px font-weight-light text-uppercase white my-5px my-md-2 my-md-0 text-center">
        <span class="sr-only">
          {{ site.title }}
          {{ include.current_site_modifier }}
        </span>

        {{ include.current_page_modifier }}

        {{ include.current_book.title }}
      </h1>
    </a>
  </div>

  <div class="row justify-content-between">
    <div class="col flex-grow-md-0 order-md-0 text-left d-flex align-items-center">
      {%- capture leftbar_content -%}
        <i aria-hidden="true" class="fa fa-fw fa-bars mr-1 f-24px f-md-30px"></i>

        {{ include.t.leftbar.title }}

        <span class="sr-only">{{ include.t.leftbar.accessibility }}</span>
      {%- endcapture -%}

      {% include toggler_label.html id='leftbar' content=leftbar_content class='text-uppercase white f-14px f-md-3 open-sans mb-0 font-weight-bold d-flex align-items-center' %}
    </div>



    <div class="col flex-grow-md-0 order-md-2 text-right d-flex align-items-center justify-content-end">
      {% if current_book.link %}
        <a
          class="d-none d-md-block white text-decoration-none mr-30px"
          rel="noopener noreferrer"
          target="_blank"
          title="{{ include.t.rightbar.link }}"
          href="{{ current_book.link }}">
          <i class="fa fa-shopping-cart fa-fw f-20px" aria-hidden="true"></i>
          <span class="sr-only">{{ include.t.rightbar.link }}</span>
        </a>
      {% endif %}

      {%- unless current_book.courses == empty or current_book.courses == null -%}
        {%- capture rightbar_class -%}
          text-nowrap text-uppercase white f-14px f-md-3 open-sans mb-0 font-weight-bold {% if current_book.courses == empty %}invisible{% endif %} d-flex align-items-center
        {%- endcapture -%}

        {%- capture rightbar_content -%}
          {{ include.t.rightbar.title }}
          <i class="fa fa-caret-right fa-fw f-24px" aria-hidden="true"></i>

          <span class="sr-only">{{ include.t.rightbar.accessibility }}</span>
        {%- endcapture -%}

        {% include toggler_label.html id='rightbar' content=rightbar_content class=rightbar_class %}
      {%- endunless -%}
    </div>
  </div>
</nav>
