/// Reutilize Bootstrap mixins to add new responsive modifiers
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    @each $color, $rgb in $colors {
      .background#{$infix}-#{$color} {
        background-color: $rgb !important;

        &:focus {
          background-color: $rgb !important;
        }
      }

      .border#{$infix}-#{$color} {
        border-color: $rgb !important;
      }

      .#{$color} {
        color: $rgb !important;

        &:focus {
          color: $rgb !important;
        }

        ::-moz-selection,
        ::selection {
          background: $rgb;
          color: white;
        }
      }
    }
  }
}

/// This creates a navbar that can be toggled on focus and doesn't
/// require CSS.
.navbar {
  &:focus-within {
    .navbar-collapse {
      @extend .d-block;
    }
  }

  .dropdown {
    .dropdown-menu {
      @extend .d-none;
    }

    &:hover,
    &:focus-within {
      .dropdown-menu {
        @extend .d-block;
      }
    }
  }
}
