---
layout: default
---
{%- include global_variables.html -%}
{%- assign book = page -%}

<section id="content" role="main" class="container p-50px">
  <article class="pt-45px pb-55px">
    <header>
      <h1 class="text-center text-uppercase font-weight-bold {{ current_book.slug }}">
        <span class="">{{ site.title }}</span>
        <span>{{ t.book.for }} {{ page.description | default: page.title }}</span>
      </h1>

      <h2 class="text-center text-uppercase mb-3 font-weight-bold">{{ t.edit }}
        {% include people.html people=page.editors %}
      </h2>
    </header>

    {{ content | markdownify }}

    <footer>
      {% if page.about %}
        <a href="{{ page.about.url | relative_url }}">
          {{ t.read_more }}
        </a>
      {% endif %}

      <div class="text-center text-uppercase mt-1">
        <input id="essay" type="radio" class="sr-only" name="menu-essay"/>
        <label for="essay" itemprop="menu" class="btn btn-{{ current_book.slug }}">
          {{ t.book.open_menu }}
        </label>
      </div>
    </footer>
  </article>
</section>

{% include_cached footer.html book=page %}
