---
layout: default
---
<style>
  .wrapper a {
    color: {{ page.color }} !important;
  }
  .wrapper .button {
    color: white !important;
    background-color: {{ page.color }} !important;
  }
</style>
<h1 style="color: {{ page.color }}">Keywords for <span>{{ page.title }}</span></h1>
<h2>Edited by
  {% for editor in page.editors %}
  {{ editor.name }}{% unless forloop.last %}, {% endunless %}
  {% endfor %}
</h2>
<p>{{ content | trim }} <a href="{{ page.url }}about-this-site/" style="color: {{ page.color }}">Read More...</a></p>

<p style="text-align: center;">
  <a class="button" href="#" style="color: {{ page.color }}">Read the Essays</a>
</p>
