---
layout: default
---

{%- include global_variables.html -%}

{% if current_book %}
  {% include_cached titlebar.html current_book=current_book current_site_modifier=current_site_modifier current_page_modifier=current_page_modifier t=t %}
{% endif %}

{% include breadbar.html current_book=current_book t=t current_color=current_color %}

<section class="container pt-60px pl-20px pr-20px border-bottom">
  {% if current_book %}
    {% include_cached leftbar.html current_book=current_book t=t %}
    {% include_cached rightbar.html current_book=current_book t=t %}
  {% endif %}

  <div tabindex="-1" id="content" role="main">
    {{ content | markdownify }}
  </div>
</section>
