{%- if page.layout == 'home' %}
  {%- assign body_classes = 'home mastersite site' -%}
{%- elsif page.layout == 'book' %}
  {%- assign body_classes = 'home subsite site' -%}
{%- elsif page.layout == 'person' %}
  {%- assign body_classes = 'mastersite site' -%}
{%- elsif page.layout == 'page' %}
  {%- if page.book %}
    {%- assign body_classes = 'subsite site' -%}
  {%- else -%}
    {%- assign body_classes = 'mastersite site' -%}
  {%- endif %}
{%- else -%}
  {%- assign body_classes = 'subsite site' -%}
{%- endif -%}
<!DOCTYPE html>
<html lang="en-US" class="no-js">
  {% include head.html %}

  <body class="{{ body_classes }}">
    {{ content }}

    <div id="clickoverlay2"></div>

    <script>
      if (Modernizr.touch) {
        /* cache dom references */
        var $body = jQuery('body');

        /* bind events */
        jQuery(document)
        .on('focus', 'input', function(e) {
            $body.addClass('fixfixed');
        })
        .on('blur', 'input', function(e) {
            $body.removeClass('fixfixed');
        });
        jQuery(document)
        .on('focus', 'textarea', function(e) {
            $body.addClass('fixfixed');
        })
        .on('blur', 'textarea', function(e) {
            $body.removeClass('fixfixed');
        });
      }
    </script>
  </body>
</html>
