---
layout: default
---

{% assign book = page.book %}

{% include customization.html color=book.color %}

<div class="printonly" id="print-title">Keywords<br />Keywords: NYU Press</div>

{% include access-nav.html book=book %}

<div id="everything">
  <header>
    {% include headers/master-header.html %}
    {% include headers/subsite-header.html book=book %}
  </header>

  <div id="clickoverlay"></div>

  <section id="content" role="main">
    {% include headers/subhead.html book=book page=page %}

    <div class="wrapper">
      <article class="site cc_essay_toc cc_essay_{% if page.availability contains 'Print' %}print{% else %}online{% endif %} essay type-essay status-publish hentry availability-toc">
        <h1>{{ page.title }}</h1>
        <div class="meta-info">
          <div class="book_name">book <a href="{{ book.url }}">Keywords for {{ book.title }}</a></div>
          <div class="author_list">by {% include people.html people=page.authors %}</div>
        </div>

        {% if page.availability == 'Print Essays' %}
          {{ page.excerpt | strip_html | truncatewords: 200 }}

          <div class="meta-entry">
            <p><strong>This essay may be found on page {{ page.page }} of the printed volume.</strong></p>
          </div>
        {% else %}
          {{ content }}
        {% endif %}

        <div class="meta-entry">
          <a href="{{ page.works_cited.url }}">{{ page.works_cited.title }}</a><br />
          <a href="{{ page.url }}">Permanent Link to this Essay</a>
        </div>
     </article>
  </div>
</section>

{% include footer.html book=book %}

<div id="cite-box-overlay" style="display: none;"></div>
<div id="cite-box" style="display: none;">
  <button><span>close</span></button>
  <div>
    {%- for author in page.authors -%}
      {{ author.last_name }}, {{ author.first_name }}
    {%- endfor -%}. "{{ page.title }}." <em>Keywords for {{ book.title }}</em>.
    Eds. {% include people.html people=book.editors plain=true %}. New York: New York University Press, {{ book.date | date: "%Y"}}. {{ page.page }}. Print.</div>
  </div>
</div>

<div id="scroll-help">
  <a id="up" role="presentation"><i class="fa fa-angle-up"></i></a>
  <a id="down" role="presentation"><i class="fa fa-angle-down"></i></a>
  <a id="top" href="#everything" aria-label="Navigate to top of page">Back to Top</a>
</div>
