---
layout: default
---
{% comment %}
  Features behave like books.
{% endcomment %}
{%- include global_variables.html -%}
{% include_cached titlebar.html current_book=current_book current_site_modifier=current_site_modifier current_page_modifier=current_page_modifier t=t %}

<div class="flex-shrink-1 d-none d-md-flex flex-row align-items-center justify-content-end pr-3 pt-2">
  <div class="d-flex justify-content-end">
    {% include_cached print_button.html color=current_color text=t.print_button %}
  </div>
  {% for share in t.share.items %}
    {% include share.html share=share page=page current_color=include.current_color %}
  {% endfor %}
</div>

<section tabindex="-1" id="content" role="main" class="container p-30px p-md-45px background-white mt-79px mb-30px my-md-45px w-90">
  {% include_cached leftbar.html current_book=current_book t=t %}
  {% include_cached rightbar.html current_book=current_book t=t %}

  <article class="">
    <header class="mb-30px">
      <h1 class="text-center text-uppercase {{ current_color }}">
        <span class="d-block f-34px f-md-6 letter-spacing-h1">{{ site.title }} {{ current_site_modifier | remove: ':' }}</span>
        <span class="d-block f-12px f-md-4 font-weight-bold">{{ current_page_modifier }} {{ page.description | default: page.title }}</span>
      </h1>

      {%- unless page.editors == empty or page.editors == null -%}
        <p class="f-11px f-md-3 text-center text-uppercase mb-3 font-weight-bold open-sans">
          {{ t.edit }}
          {% include people.html people=page.editors %}
        </p>
      {%- endunless -%}
    </header>

    <div class="primary {{ content_color }}">
      {{ content }}
    </div>

    <footer>
      {% if page.about %}
        <a class="{{ current_color }} font-weight-bold" href="{{ page.about.url | relative_url }}">
          {{ t.read_more }}
        </a>
      {% endif %}

      <div class="mx-auto w-fit-content text-uppercase mt-3 mb-32px">
        {%- capture leftbar_class -%}
          btn btn-{{ current_color }} h6 m-0 font-weight-bold px-20px px-md-40px py-15px d-block f-18px font-weight-bold btn-hover-gray letter-spacing-1
        {%- endcapture -%}
        {% include toggler_related.html id='leftbar' class=leftbar_class content=t.book.open_menu %}
      </div>
    </footer>
  </article>
</section>
