---
layout: default
---
{% comment %}
Features behave like books.
{% endcomment %}
{%- include global_variables.html -%}
{%- assign book = page -%}

<div class="printonly" id="print-title">{{ t.print.title }}<br />{{ t.print.press }}</div>
{% include_cached access-nav.html book=book %}

<div id="everything">
  <header>
    {% include_cached headers/master-header.html book_type=book.layout %}
    {% include_cached headers/subsite-header.html book=book %}
  </header>

  <div id="clickoverlay"></div>

  <section id="content" role="main">
    {% include headers/subhead.html page=page %}
    <div class="wrapper">
      <article class="{{ book.slug }}">
        <h1>{{ t.title[current_book.layout] }}<span>{{ page.description | default: page.title }}</span></h1>
        <h2>{{ t.edit }} {% include people.html people=page.editors %}</h2>

        {{ content }}

        {% if page.about %}
          <a href="{{ page.about.url | relative_url }}">{{ t.read_more }}</a>
        {% endif %}

        <p style="text-align: center;">
          <a class="button" href="#">{{ t.feature.read }}</a>
        </p>
      </article>
    </div>
  </section>

  {% include_cached footer.html book=page %}
</div>
