---
layout: default
---

{%- assign books = site.posts | where: 'layout', 'book' -%}
{%- assign about = site.posts | find: 'url', '/about-this-site/' -%}

<div class="printonly" id="print-title">Keywords<br />Keywords: NYU Press</div>

<div id="everything">
  <header>
    {% include_cached headers/master-header.html %}
  </header>

  <div id="clickoverlay"></div>

  <section id="content" role="main">
    {% include headers/subhead.html page=page %}

    <div class="wrapper">
      <article class="{{ book.slug }}">
        <h1 class="main-site-title">{{ site.title }}</h1>

        <p>
          {{ about.description }}
          <a href="{{ about.url | relative_url }}">Read More...</a>
        </p>
      </article>

      {% for book in books %}
        <article class="selfclearing site-list">
          <a href="{{ book.url | relative_url }}">
            <img src="{{ book.image | relative_url }}" alt="Image for Keywords for {{ book.title }}" />
          </a>

          <div class="site-details">
            <h1><a href="{{ book.url | relative_url }}" style="color: {{ book.color }}">Keywords for {{ book.description | default: book.title }}</a></h1>

            <span>Edited by
              {% for editors in book.editors %}
                <a href="{{ editors.permalink }}" style="color: {{ book.color }}">{{ editors.title }}</a>{% unless forloop.last %}, {% endunless %}
              {% endfor %}
            </span>
          </div>
        </article>
      {% endfor %}
    </div>
  </section>

  {% include_cached footer.html %}
</div>
