---
layout: default
---
{%- include global_variables.html -%}

<section id="content" role="main" class="container pt-50px pl-20px pr-20px">
  <article class="">
    <header>
      <h1 class="text-uppercase font-weight-bold {{ current_book.slug }}">{{ page.title }}</h1>

      {% if page.authors and page.authors != empty %}
        <div class="text-uppercase font-weight-bold pb-2">
          {{ t.page.by }}
          {% include people.html people=page.authors %}
        </div>
      {% endif %}
    </header>

    <div class="content-{{ current_book.slug }}">
      {{ content }}
    </div>
  </article>
</section>
