{%- assign url = page.book.works_cited.url | absolute_url | append: '#' | append: page.slug -%}
<!DOCTYPE html>
<html lang="en-US">
  {% include head.html redirect=url %}

  <body class="home mastersite">
    <div id="everything">
      <header>
        {% include_cached headers/master-header.html %}
      </header>

      <div id="clickoverlay"></div>

      <section id="content" role="main">

        {% include headers/subhead.html page=page %}

        <div class="wrapper">
          <article class="site" id="results">
            <h1>
              <i class="fa fa-cog fa-spin"></i>

              Redirecting to work cited...
            </h1>
          </article>
        </div>
      </section>

      {% include_cached footer.html %}
    </div>
  </body>
</html>
