---
layout: default
---

{% comment %}
WorksCitedPage can be books or essays
{% endcomment %}
{% assign book = page.book | default: page.essay.book %}

<div class="printonly" id="print-title">Keywords<br />Keywords: NYU Press</div>

{% include_cached access-nav.html book=book %}

<div id="everything">
  <header>
    {% include_cached headers/master-header.html %}
    {% include_cached headers/subsite-header.html book=book %}
  </header>

  <div id="clickoverlay"></div>

  <section id="content" role="main">
    {% include headers/subhead.html book=book page=page %}

    <div class="wrapper">
      <article class="{{ book.slug }}">
        <h1>{{ page.title }} {% if page.essay %}on {{ page.essay.title }}{% endif %}</h1>

        {% if page.essay %}
          <p><a href="{{ page.essay.book.works_cited.url | relative_url }}">Go to all works cited on <em>Keywords for {{ page.essay.book.title }}</em></a></p>
        {% endif %}

        {% assign works_cited = page.works_cited | sort: 'authorship', 'last' %}
        {% for work_cited in works_cited %}
          <article class="work-cited" style="border-top: none; padding: 1rem" id="{{ work_cited.slug }}">
            {{ work_cited.content | replace: "<p>", "<p style='padding-bottom: 0'>" }}
          </article>
        {% endfor %}
     </article>
  </div>
</section>

{% include_cached footer.html book=book %}

<div id="scroll-help">
  <a id="up" role="presentation"><i class="fa fa-angle-up"></i></a>
  <a id="down" role="presentation"><i class="fa fa-angle-down"></i></a>
  <a id="top" href="#everything" aria-label="Navigate to top of page">Back to Top</a>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function(event) {
    const work_cited = window.location.hash;

    if (work_cited === "") return;

    const work_cited_element = document.querySelector(work_cited);

    work_cited_element.style.backgroundColor = "{{ book.color }}" ;
    work_cited_element.style.color = "white" ;

    setTimeout(function() {
      work_cited_element.scrollIntoView({ block: 'center' });
      work_cited_element.role = 'alert';
    }, 300);
    
  });
</script>
