---
layout: default
---

{%- include global_variables.html -%}
{% include_cached titlebar.html current_book=current_book current_modifier=current_modifier t=t %}
{% include breadbar.html current_book=current_book t=t %}

<section id="content" role="main" class="container pt-50px pl-20px pr-20px">
  {% include_cached leftbar.html current_book=current_book t=t %}
  {% include_cached rightbar.html current_book=current_book t=t %}

  <header>
    <h1 class="text-uppercase font-weight-bold {{ current_color }}">
      {{ page.title }} {% if page.essay %}{{ t.works_cited.on }} {{ page.essay.title }}{% endif %}
    </h1>
  </header>

  {% if page.essay %}
    <p>
      <a
        href="{{ page.essay.book.works_cited.url | relative_url }}"
        class="{{ current_book }}">
        {{ t.works_cited.index_cited }}

        <em>
          {{ site.title }}
          {{ current_modifier }}
          {{ page.essay.book.title }}
        </em>
      </a>
    </p>

    {% assign works_cited = page.works_cited | sort: 'slug' %}
  {% else %}
    {% assign works_cited = page.works_cited %}
  {% endif %}

  {% for work_cited in works_cited %}
    <article class="{{ content_color }}" id="{{ work_cited.slug }}">
      {{ work_cited.content  }}
    </article>
  {% endfor %}
</section>
